/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}


/* -------------- VISTA PRODUCTOS ------------------*/

.productos_header{
	height: 100vh;
	background-color: pink;
}

.productos_paginas{
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100vh;
	background-color: pink;
}

.productos_paginas_content{
	width: 47%;
	padding-left: 5rem;
}

.producto_paginas_title{
	text-align: center;
}

.producto_paginas_subtitle{
	text-align: justify;
}

.productos_proyectos{
	display: flex;
	flex-direction: column;
	justify-content: center;
	height:79vh;
	background-color: pink;
}


.productos_proyectos_content{
	width: 47%;
	padding-left: 5rem;
}

.productos_proyectos.proyect-2 {
	height: 80;
	background-color: yellow;
	align-items: flex-end;
}

.productos_proyectos_content.proyect-2 {
	padding-right: 5rem;
	padding-left: 0;
}

.productos_proyectos.proyect-3 {
	height: 80;
	background-color: green;
}


.productos_contactanos{
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 80vh;
	background-color: pink;
	align-items: center;
}

.productos_contactanos a {
	background-color: #333;
	color: #fff;
	padding: .7rem 1rem;
	border-radius: 4px;
}



/*-------------- SERVICIOS -------------*/

.servicios_header{
	height: 100vh;
	background-color: pink;
	display: flex;
	flex-direction: column;
}

.servicios_header_body{
	display: flex;
	justify-content: center;
	align-items: center;
	flex:1;
}

.servicio_seo{
	height: 100vh;
	background-color: yellow;
}

.servicio_seo_title{
	height: 20vh;
	text-align: center;
}

.servicio_seo_body{
	height: 80vh;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.servicio_seo_body.servicio_2{
	width: 100%;
	background-color: pink;
	height: 80vh;
}

.servicio_seo_body.servicio_3{
	background-color: green;
	height: 80vh;
}

.servicio_juntos{
	height: 50vh;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	background-color: orange;
}

.servicio_juntos a{
	background-color: #fff;
	color: #333;
	border-radius: 4px;
	padding: .6rem 1rem;
	font-weight: bold;
}



/*----------------- NOSOTROS ------------------*/
.nosotros_header{
	height: 100vh;
	background-color: pink;

}

.nosotros_header_body{
	padding-top: 10rem;
}

.nosotros_header_title{
 text-align: center;
}

.nosotros_header_subtitle{
	width: 70%;
	margin: 0 auto;
}

.nosotros_quien{
	height: 90vh;
	background-color: blue;
}


/*---------------------- CONTACTANOS --------------------------*/

.contactanos_header{
	height: 100vh;
	background-color: pink;
	display: flex;
	flex-direction: column;
}

.contactanos_header_body{
	width: 70%;
	margin: 0 auto;
}

.input_contactanos {
	margin-bottom: 1.4rem;
	background: #fff; 
}


.contactanos_submit{
	width: 100%;
}
